<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>386631914645-v5nv53sl5bl2trv3leqe6fn9hmf2nc1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386631914645-v5nv53sl5bl2trv3leqe6fn9hmf2nc1l</string>
	<key>API_KEY</key>
	<string>AIzaSyBg4QA-D3ok-qcgP3wvXIebo_yMkz9Gw1s</string>
	<key>GCM_SENDER_ID</key>
	<string>386631914645</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kevinvanhelden.Carpool-Karaoke</string>
	<key>PROJECT_ID</key>
	<string>carpool-karaoke-63041</string>
	<key>STORAGE_BUCKET</key>
	<string>carpool-karaoke-63041.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386631914645:ios:2e08aeced70f73f7</string>
	<key>DATABASE_URL</key>
	<string>https://carpool-karaoke-63041.firebaseio.com</string>
</dict>
</plist>